<div>
  <!-- <div class="mx-[45px] mt-[45px] mb-[60px]"></div> -->
  <p class="text-[25px] pt-[30px] pl-[25px] pb-[10px]">ภาษีและส่วนลด</p>
  <div>
    <ion-grid class=" flex-wrap">
      <ion-row>
        <ion-col size="3"><ion-button expand="block" shape="round" class="ml-[17px]">
            ภาษีและส่วนลด
          </ion-button></ion-col>
        <ion-col size="3"><ion-button expand="block" shape="round">
            แต้ม
          </ion-button></ion-col>
        <ion-col size="4" offset="2"><ion-button expand="block" shape="round" (click)="openModal_add_discount()" class="mr-[17px]">
            + เพิ่มส่วนลด
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="w-full px-[30px]">
    <table class="w-[100%]">
      <thead class="bg">
        <tr>
          <th class="w-1/2 ">หัวข้อ</th>
          <th>จำนวน</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of final_discount">
          <td class="text-center"><ion-checkbox labelPlacement="end"
              class="w-fit ml-auto mr-4 my-4 ">{{item.discount_name}}</ion-checkbox></td>
          <td class="text-center">{{item.discount_count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="absolute inset-x-[35px] bottom-[35px] h-16 flex justify-between">
    <ion-button (click)="modalCtrl.dismiss()" expand="block" shape="round" >ปิดออก</ion-button>
    <ion-button (click)="save()" expand="block" shape="round">ตกลง</ion-button>
  </div>

</div>