<div>
<!-- <div class="mx-[45px] mt-[45px] mb-[60px]"></div> -->
  <h1>ภาษีและส่วนลด</h1>
  <div>
    <ion-grid class=" flex-wrap">
      <ion-row>
        <ion-col size="3"><ion-button expand="block"  shape="round">
            ภาษีและส่วนลด
          </ion-button></ion-col>
        <ion-col size="3"><ion-button expand="block"  shape="round">
            แต้ม
          </ion-button></ion-col>
        <ion-col size="4" offset="2"><ion-button expand="block" shape="round" >
            + เพิ่มส่วนลด
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <table class="w-[100%]">
      <thead >
        <tr >
          <th class="w-1/2">หัวข้อ</th>
          <th>จำนวน</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">ส่วนลดวันเกิด</td>
          <td class="text-center">-10%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ion-button>
      ปิดออก
    </ion-button>
    <ion-button>ตกลง</ion-button>
  </div>

</div>