<ion-header [translucent]="true">
  <ion-toolbar class="theme-top-bar ">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="theme_txt">history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">history</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content class="flex h-full">

    <ion-card class=" justify-between width2-3 ">

      <ion-card-content class="flex justify-between p-0 m-0">
        <ion-card-content class="pb-0">
          <ion-button class="custom-button">รายบิน</ion-button>
          <ion-button class="custom-button">รายวัน</ion-button>
        </ion-card-content>
        <ion-card-content class="pb-0 ">
          <ion-button class="bg-button">Export</ion-button>
        </ion-card-content>
      </ion-card-content>
    
      <table class=" w-full flex-row justify-between text-center ">
        <thead class="bg-sky h-10">
          <tr>
            <th class=" "> ID </th>
            <th class=" ">วันที่</th>
            <th class=" ">เวลา</th>
            <th class=" ">ประเภทชำระ</th>
            <th class=" "> จำนวนเงิน</th>
            <th></th>
          </tr>
        </thead>

        <tbody class="">
          <tr>
            <td class="h-10">1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>
          <tr class="h-10">
            <td class="">1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>
          <tr class="h-10">
            <td class="">1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>

          <tr class="h-10">
            <td class="">1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>
          <tr class="h-10">
            <td >1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>
          <tr class="h-10">
            <td class="">1234</td>
            <td>11/11/11</td>
            <td>11:11</td>
            <td>เงินสด</td>
            <td>111111</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg></td>
          </tr>
        </tbody>
      </table>

      <ion-card-content class="flex justify-between bg-sky absolute inset-x-0 bottom-0 ">
        <p class="">รวมบิน</p>
        <div class="flex justify-center">
        <p>ทั้งหมด</p>
        <h2>12000</h2>
        <p>บาท</p>
        </div>
    </ion-card-content>
    </ion-card>
      
    <ion-card class=" width1-3 tb  text-center ">
     ddddddddddddddddddddddddd
    </ion-card>

  </ion-card-content>
</ion-content>