.theme-top-bar {
    --background: var(--ion-background-color-top);
      @media (prefers-color-scheme: dark) {
        --background: var(--ion-background-color-top-dark);
      }
      .theme_txt {
        --color: white;
      }
      
    }
    
    .theme-bg {
        --background: var(--ion-background-color-bg)
    }
    .width1-3 {
        width: 33.333333%;
      }
      
      .width2-3 {
        width: 66.666667%;
      } 
      .bg-button{
        --border-radius: 10px;
        --background: var(--ion-color-success)
        
      }
      .custom-button{
        --border-radius :10px;
        --background:var(--ion-background-color-botton)
        
      }
      .table-fixed {
        table-layout: fixed;
      }
      .bg-sky{
        background-color: #E3F3FF;
      }