<ion-header [translucent]="true">
  <ion-toolbar class="theme-top-bar ">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="theme_txt">history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">history</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content class="flex h-full ">

    <ion-card class=" justify-between width2-3 ">

      <ion-card-content class="flex justify-between p-0 m-0">
        <ion-card-content class="pb-0">
          
          <ion-segment class="flex " value="custom">
            <ion-segment-button class="custom-button " value="a" (click)="segment(0)">
              <ion-label>รายบิล</ion-label>
            </ion-segment-button>
            
            <ion-segment-button class="custom-button" value="b" (click)="segment(1)">
              <ion-label>รายวัน</ion-label>
            </ion-segment-button>
          </ion-segment>
          

        </ion-card-content>
        <ion-card-content class="pb-0 ">
          <ion-button class="bg-button">Export</ion-button>
        </ion-card-content>
      </ion-card-content>
      <ng-container *ngIf="button_bill == 0">
          <app-bill-history></app-bill-history>
      </ng-container>
      <ng-container *ngIf="button_bill == 1">
        <app-day-history></app-day-history>
    </ng-container>
    
 

    </ion-card>
      


  </ion-card-content>
  
  
  
 
</ion-content>