<ion-header [translucent]="true">
  <ion-toolbar class="theme-top-bar ">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="theme_txt">สมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">member</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="flex shadow-inner p-6 theme-bg" >
    <ion-card class=" width2-3 ">
      <ion-card-content class="flex bg-sky  mb-4 items-center ">
        <ion-button class="mr-6 custom-button">ข้อมูลสมาชิก</ion-button>
        <ion-input class="flex items-center input-header w-60 mr-12 " placeholder="ค้นหา">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </ion-input>
        <span class="mr-4 tb">จำนวน</span>
        <ion-input class=" items-center input-header w-32 mr-32 " label="" placeholder=""></ion-input>
        <span class="mr-4 tb">ประเภท</span>
        <ion-button id="popover-button" class="custom-button-h">vvip
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </ion-button>
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                <ion-item [button]="true" [detail]="false">Option 2</ion-item>
                <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

                <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="start">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card-content>

     
        
          <ion-row class="text-center bg-sky tb">
            <ion-col>ลำดับ</ion-col>
            <ion-col> ID</ion-col>
            <ion-col>ชื่อ</ion-col>
            <ion-col>เบอร์โทร</ion-col>
            <ion-col>วันเกิด</ion-col>
            <ion-col>แต้ม</ion-col>
            <ion-col>ประเภท</ion-col>
            <ion-col>แก้ไข</ion-col>
          </ion-row>

          <ion-row class="text-center">
            <ion-col>1</ion-col>
            <ion-col>12345</ion-col>
            <ion-col>หล่อมาก</ion-col>
            <ion-col>098xxxxxxx</ion-col>
            <ion-col>29-11-24</ion-col>
            <ion-col>1xxxxxxx</ion-col>
            <ion-col>VVVVVVVIP</ion-col>
            <ion-col class="">
              <ion-button class="bg-botton-warning" >แก้ไข</ion-button>
              <ion-button class="bg-botton-warning2">ลบ</ion-button>
            </ion-col>
          </ion-row>
    
    </ion-card>

    <ion-card class=" width1-3 mr-4 ml-8 tb ">
      <p class=" text-center m-5 ">เพิ่มสมาชิก</p>
      <div class="flex justify-between items-center m-8 ">
        <div>ID </div>
        <ion-input class="items-center w-52 custom-button-h2 " label="" placeholder="กรอก ID"></ion-input>
      </div>
      <div class="flex justify-between items-center m-8">
        <div>ชื่อ </div>
        <ion-input class="items-center w-52 custom-button-h2 " label="" placeholder="กรอกชื่อ"></ion-input>
      </div>
      <div class="flex justify-between items-center m-8">
        <div>วันเกิด </div>
        <ion-input class="items-center w-52 custom-button-h2 " label="" placeholder="กรอกวันเกิด"></ion-input>
      </div>
      <div class="flex justify-between items-center m-8">
        <div>เบอร์โทร </div>
        <ion-input class="items-center w-52 custom-button-h2 " label="" placeholder="กรอกเบอร์โทร"></ion-input>
      </div>
      <div class="flex justify-between items-center m-8">
        <div>ประเภท </div>
        <ion-button id="popover-button2" color="" class=" custom-button-h2 w-52">เลือกประเภท
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-20 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </ion-button>
        <ion-popover trigger="popover-button2" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                <ion-item [button]="true" [detail]="false">Option 2</ion-item>
                <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

                <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="start">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <div class="flex justify-between mb-32 mt-32">
        <ion-button class="ml-8 mr-8 w-28 bg-button" >บันทึก</ion-button>
        <ion-button class="ml-8 mr-8 w-28  bg-botton-cancel"  >ยกเลิก</ion-button>
      </div>
    </ion-card>
  </ion-card>
</ion-content>