// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: #ffffff;
  --ion-background-color-top:#119af8;
  --ion-background-color-bg:#EAEDF0;
  --ion-color-success:#12C818;
  --ion-background-color-botton:#119BF8;
  --ion-background-color-botton-number:#A3AEC0;
  --ion-background-color-botton-cancel:#FF6868;
  --ion-background-color-botton-warning: #ffc409;
  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
}

/* Set text color of the entire app for iOS only */
:root.ios {
  --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
  --ion-text-color: #222;
}

.bg-color-prim{
  background-color: var(--ion-background-color-bg);
}

.light{
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark){

body{
  --ion-background-color-top-dark:#cf0000;

}

}
