<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สินค้าทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">product</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    <div class="flex flex-row w-full">
      <ion-button class="w-[160px] h-[60px]">สินค้า</ion-button>
      <ion-button class="w-[160px] h-[60px]">กลุุ่ม</ion-button>
      <ion-searchbar placeholder="ค้นหา" class="w-[500px] h-[60px]"></ion-searchbar>
      <div class=" flex w-[350px]">
        <span class="flex items-center">Sort by:</span>
        <span class="flex items-center">สินค้าที่แสดง</span>
      </div>
    
      <ion-select aria-label="Fruit" interface="popover" placeholder="Category" class="flex w-[22%] items-center justify-between">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Orang es</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
  
      <ion-button>เพิ่มสินค้า</ion-button>
    </div>
    <div class="flex w-full">
      <table class="table-fixed w-full">
        <thead class="bg-top-table">
          <tr>
            <th>รูปภาพ</th>
            <th>Code</th>
            <th>ชื่อ</th>
            <th>ราคา</th>
            <th>สถานะ</th>
            <th>กลุ่ม</th>
            <th>ลำดับ</th>
            <th>แก้ไข</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>img</td>
            <td>K-0001</td>
            <td>ปาร์ตี้คาราเมล</td>
            <td class="text-center">25</td>
            <td class="text-center">แสดง</td>
            <td class=" flex justify-center"><ion-select aria-label="Fruit" interface="popover" placeholder="Category" class="w-auto">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Orang es</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select></td>
            <td class="text-center">1</td>
            <td><ion-button class="flex justify-center items-center">แก้ไข</ion-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-col>
</ion-content>