<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sale</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div></div> -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">หน้าขาย</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid id="grid-1">
    <ion-row class="width-full">
      <ion-col size-sm="12" size-md="8" size-lg="8">
        <div class="bt display flex-row">
          <span>Order ID:</span>
          <span>0123456</span>
          <span>Date</span>
          <span>time</span>
          <ion-button class="rounded-lg color_button">เพิ่มสินค้า</ion-button>
        </div>
        <div>
          <table class="width-full table-fixed">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อสินค้า</th>
                <th>ราคา</th>
                <th>จำนวน</th>
                <th>รวม</th>
                <th>แก้ไข</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>item name</td>
                <td>50</td>
                <td>2</td>
                <td>100</td>
                <td>ลบ</td>
              </tr>
              <tr>
                <td>2</td>
                <td>item name</td>
                <td>50</td>
                <td>2</td>
                <td>100</td>
                <td>ลบ</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="display width-full flex-row bt position-fix">
          <span>14 รายการ</span>
          <span>รวม 700 บาท</span>
        </div>
      </ion-col>
      <ion-col class="display" size-sm="12" size-md="4" size-lg="4">
        <ion-col size="12" class="display boarder width-full  ">
          <ion-button class="rounded-lg  theme-botton">พักบิล</ion-button>
          <ion-button class="rounded-lg  theme-botton">รายการพักบิล</ion-button>
          <ion-button class="rounded-lg  theme-botton">ส่วนลด และ ภาษี</ion-button>
        </ion-col>
        <div class="width-full">
          <table class="width-full table-fixed text">
            <tbody>
              <tr>
                <td class="text-left">รวมทั้้งสิ้น</td>
                <td class="text-center">700</td>

              </tr>
              <tr>
                <td class="text-left">ส่วนลด</td>
                <td class="text-center">-55</td>

              </tr>
              <tr>
                <td class="text-left">ราคาสุทธิ</td>
                <td class="text-center">645</td>

              </tr>
            </tbody>
          </table>
        </div>
        <ion-col size="12" class="display boarder width-full">
          <ion-button class="rounded-lg theme-botton">เงินสด</ion-button>
          <ion-button class="rounded-lg theme-botton2 theme-text">เงินโอน</ion-button>
          <ion-button class="rounded-lg theme-botton2 theme-text">ค้นหาสมาชิก</ion-button>
          <ion-button class="rounded-lg color_button">เพิ่มสมาชิก</ion-button>
        </ion-col>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<!-- <div></div> -->