.display {
  display: flex;
}

.width-full {
  width: 100%;
}

.bt {
  justify-content: space-between;
}

.space-x-4 {
  margin-left: 1rem;
  /* 16px */
}

.flex-row {
  flex-direction: row;
}

.margin-bot {
  margin-top: 100%;
}

.position-fix {
  position: fixed;
  bottom: 30px;
}

.rounded-lg {
  border-radius: 0.5rem;
  /* 8px */
}

.btn {
  // box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 4px;
  border-radius: 10px;
  font-size: 18px;
  overflow: hidden;
}

.buttons {
  text-align: center;

  .btn {
    width: 107px;
    height: 50px;
  }

  // .btn2 {
  //     height: 50px;
  //     border-radius: 10px;
  //     font-size: 18px;
  //     overflow: hidden;
  // }
}

.color_button {
  --background: var(--ion-color-success)
}

.grid-cols-8 {
  // grid-template-columns: repeat(8, minmax(0, 1fr));
}

//////
.boarder {
  --border-left-width: 5px;
}

.divide-y {
  border-top-width: 1px;
  border-bottom-width: 0px;
}

#grid-1 {
  display: flex;
}

ion-col {
  flex-wrap: wrap;
}

.text {
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .table-fixed {
    table-layout: fixed;
  }
}

.theme-botton {
  --background: var(--ion-background-color-theme-brown)
}

.theme-botton2 {
  --background: var(--ion-background-color-botton2)
}

.theme-text {
  color: black;
}

.theme-top-bar {
  --background: var(--ion-background-color-theme-brown);

  @media (prefers-color-scheme: dark) {
    --background: var(--ion-background-color-top-dark);
  }

  .theme_txt {
    --color: white;
  }
}

.custom-button {
  border-radius: 10px;
}

.full-width-button {
  width: 9.1vw;
  /* ให้ขนาดของปุ่มมีความกว้างเท่ากับ 90% ของ viewport width */
}

.custom-button2P {
  width: 130px;
  /* กำหนดความกว้าง */
  height: 30px;
  /* กำหนดความสูง */
}

.grid-button {
  width: 100%;
  /* กำหนดให้ขนาดปุ่มเท่ากับคอลัม */
}

ion-button {
  --background: var(--ion-background-color-bg);
  --color: white;
}

.text-bold {
  font-weight: 700;
}

.bg-button {
  --background: var(--ion-color-success)
}

.border-radius {
  --border-radius: 10px;
}

.bg-change {
  background: #F5F8FF;
}

.bg-botton-number {
  --background: var(--ion-background-color-botton-number)
}

.bg-botton-cancel {
  --background: var(--ion-background-color-botton-cancel)
}

.border-radius2 {
  --border-radius: 20px;
}

.bg-top-table {
  background: var(--ion-background-color-top-table);
}

.button_active {
  --background: var(--ion-background-color-botton) !important;
}

.danger {
  --background: var(--ion-color-danger) !important;
}

.tertiary {
  --background: var(--ion-color-tertiary) !important;
}

.button-pordee {
  --background: var(--ion-background-color-button-prodee);
}

.custom-input {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}
.bg-del{
  --background: var( --ion-background-color);
}