<ion-content [fullscreen]="true">

  <div class="flex flex-row theme-bg ">

    <ion-card class="w-2/3 border-r border-black">
      <ion-header [translucent]="true">
        <ion-toolbar class="theme-top-bar">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="flex">
            <ion-title class="theme_txt">หน้าขาย</ion-title>
            <ion-button expand="block" fill="clear" shape="round"
              class="theme-botton border-[2px] border-white rounded-full ">ลิ้นชัก</ion-button>
            <ion-button expand="block" fill="clear" shape="round"
              class="theme-botton border-[2px] border-white rounded-full">สรุปยอด</ion-button>
            <ion-button expand="block" fill="clear" shape="round"
              class="theme-botton border-[2px] border-white rounded-full">ประวัติ</ion-button>
          </div>
        </ion-toolbar>


      </ion-header>
      <ion-card-header class="w-full ">
        <div class="w-full flex">
          <div class="w-1/2 flex justify-between ">
            <div class="w-full text-center flex items-center">
              <span class="text-xl">Order ID</span>
              <span class="text-xl">:123456</span>
            </div>
            <div class="w-full flex justify-between items-center">
              <span class="text-xl">24 เมษายน 2567</span>
              <span class="text-xl">13.00 น.</span>
            </div>

          </div>
          <div class="w-1/2 flex justify-center ">
            <ion-list>
              <ion-item>
                <ion-input aria-label="Primary input" value="" placeholder="ค้นหา"></ion-input>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-card-header>
      <div class="w-full px-5">
        <table class="w-full px-5 ">
          <thead class="bg-top-table ">
            <tr class="">
              <th>ลำดับ</th>
              <th class="text-left">ชื่อสินค้า</th>
              <th>ราคา</th>
              <th>จำนวน</th>
              <th>รวม</th>
              <th>แก้ไข</th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngIf="foods_search">

            </ng-container>
            <tr *ngFor="let item of in_cart; let i = index">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.name}}</td>
              <td class="text-center">{{item.price}}</td>
              <td class="text-center"><ion-input [(ngModel)]="item.count"></ion-input></td>
              <td class="text-center">{{sumprice(item.count,item.price)}}</td>
              <td class="flex justify-end"><ion-button class="border-radius2 theme-bg text-black"
                  (click)="delete(i)">ลบ</ion-button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card>


    <div class="flex flex-col w-1/3">
      <div class="display_flex flex-row font_style text">

        <div class="flex overflow-auto">
          <ion-button class="w-full max-w-[140px] border-radius2 theme-botton">พักบิล </ion-button>

          <ion-button class="w-full max-w-[140px] border-radius2 theme-botton">รายการพักบิล </ion-button>

          <ion-button class="w-full max-w-[140px] border-radius2 theme-botton" (click)="openModal_discount()">ส่วนลด และ
            ภาษี </ion-button>

          <ion-button class="w-full max-w-[170px] border-radius2 theme-bg theme-botton">สมาชิก</ion-button>
        </div>
        <div>
          <ion-card>
            <ion-card-header class="flex flex-col w-full ">
              <div class="flex-row justify-between flex mb-[5px]">
                <span class="text-left text-xl">รวมทั้งสิ้น</span>
                <span class="text-right text-2xl">{{sum_price()}}</span>
              </div>
              <div class="flex-row justify-between flex mb-[5px] border-b-2 border-dashed ">
                <span class="text-left text-xl">ส่วนลด</span>
                <span class="text-right text-2xl">{{discount}}</span>
              </div>
              <div class="flex flex-row justify-between mt-[10px]">
                <span class="text-left text-2xl">ราคาสุทธิ</span>
                <span class="text-right text-3xl ">{{final_price()}}</span>
              </div>
            </ion-card-header>
          </ion-card>
        </div>
        <ion-grid class="p-0 m-0">
          <ion-row class="p-0 m-0">
            <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="m-0">
              <ion-button [class.button_active]="type === 1" (click)="type =1"
                class="w-full max-w-[178px]  custom-button border-radius2"
                [class]="type == 1?'theme-botton text-white':'text-black'">

                <p><ion-text color="black">
                    <h1>เงินสด</h1>
                  </ion-text></p>
              </ion-button>
            </ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="m-0">
              <ion-button [class.button_active]="type === 2" (click)="type=2"
                class="w-full max-w-[178px]  custom-button border-radius2"
                [class]="type == 2?'theme-botton text-white':'text-black'">
                <p><ion-text color="black">
                    <h1>เงินโอน</h1>
                  </ion-text></p>
              </ion-button>
            </ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="m-0">
              <ion-button [class.button_active]="type === 3" (click)="type=3"
                class="w-full max-w-[178px]  custom-button border-radius2"
                [class]="type == 3?'theme-botton text-white':'text-black'">
                <p><ion-text color="black">
                    <h1>ตัดบัตร</h1>
                  </ion-text></p>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

        <div class="flex items-center w-full custom-button flex-wrap">
          <!-- <ion-item class="w-full ">
              <ion-input label="เงินสด" type="number" labelPlacement="stacked" placeholder="700" class="flex justify-end"></ion-input>
            </ion-item> -->
          <ion-item class="w-full flex flex-wrap">
            <ion-input label="เงินสด" placeholder="0" type="number" [(ngModel)]="real_cash" (ionFocus)="click_input(1)"
              class="custom-input text-right w-full custom-button "
              [class]="select_tap == 1?'border-2 border-blue-400 ':' border-2 border-gray-400 '"></ion-input>
          </ion-item>
          <ion-item class="w-full flex flex-wrap" *ngIf="type === 2">
            <ion-input label="เงินโอน" placeholder="0" class="custom-input text-right w-full  custom-button"
              [class]="select_tap == 2?'border-2 border-blue-400 ':'border-2 border-gray-400 '" type="number"
              [(ngModel)]="bank_cash" (ionFocus)="click_input(2)"></ion-input>
          </ion-item>
        </div>

        <div class="flex bg-change border-radius mx-4 py-3">
          <span class="w-[50%] items-center flex ml-3">เงินทอน</span>
          <span class="justify-end items-center w-[50%] flex mr-7">{{change()}}</span>
        </div>

      </div>

      <ion-grid fixed class="">
        <ion-row class="">
          <ion-col *ngFor="let item of [1000,500,100,50,20,10,5,1]" size-xl="3" size-lg="3" size-md="4" size-sm="6"
            size-xs="12">
            <ion-button class="w-full max-w-[150px] h-[70px] text-black m-0 border-radius"
              (click)="go(item)">{{item}}</ion-button>
          </ion-col>

          <ion-col size-xl="6">
            <ion-button class="m-0 w-full max-w-[305px] h-[70px] flex flex-row bg-botton-cancel border-radius"
              (click)="clear()"><ion-icon name="close-circle-outline"></ion-icon>ล้าง</ion-button>
          </ion-col>
          <ion-col size-xl="6">
            <ion-button class="m-0 w-full max-w-[305px] h-[70px] flex flex-row button-pordee border-radius"
              (click)="fit()">พอดี</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-checkbox labelPlacement="end" class="w-fit ml-auto mr-4 my-4">พิมพ์ใบเสร็จ</ion-checkbox>
      <ion-row class="w-full flex p-0 custom-button ">
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="12">
          <ion-button class="max-w-[170px] w-full custom-button h-[40px] theme-bg text-black"> ยกเลิก </ion-button>
        </ion-col>
        <ion-col size-xl="9" size-lg="9" size-md="8" size-sm="8" size-xs="12">
          <ion-button class="max-w-[410px] w-full custom-button bg-button h-[40px] "> เช็คบิล </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>