.display{
  display: flex;
}
.width-full{
  width: 100%;
}
.bt{
  justify-content: space-between;
}
.space-x-4{
  margin-left: 1rem; /* 16px */
}
.flex-row{
  flex-direction: row;
}
.margin-bot{
  margin-top: 100%;
}
.position-fix{
  position: fixed;
  bottom: 30px;
}
.rounded-lg{
  border-radius: 0.5rem; /* 8px */
}
.color_button{
  --background: var(--ion-color-success)
}
.grid-cols-8{
  // grid-template-columns: repeat(8, minmax(0, 1fr));
}

//////
