.display_flex {
  display: flex;
}

.basis-1_4 {
  flex-basis: 25%;
}

.basis-2_4 {
  flex-basis: 50%;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-items-center {
  justify-items: center;
}

.theme-header {}

//////////////////
.theme-bg {
  --background: var(--ion-background-color-bg)
}
.theme-top-bar {
  --background: var(--ion-background-color-top);
    @media (prefers-color-scheme: dark) {
      --background: var(--ion-background-color-top-dark);
    }
    .theme_txt {
      --color: white;
    }
  }

.width1-3 {
  width: 33.333333%;
}

.width2-3 {
  width: 66.666667%;

  .flex-row {
    .flex-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .header-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
      }

      .header-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 130px;

      }

    }

  }
}

.underline {
  text-decoration-line: underline;
  color: #2e90f1;
}

.space-x-0 {
  margin-left: 10px;
}

.wide {
  width: 100%;
  // justify-content: space-around;
  // .w-20{
  //   width: 5rem; /* 80px */
  // }
  // .w-24{
  //   width: 6rem; /* 96px */
  // }
  // .w-28{
  //   width: 7rem; /* 112px */
  // }
}

.text {
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text_color_blue {
    color: #2e90f1;
  }

  .text_color_green {
    color: #12c818;
  }

  .text_color_red {
    color: #ff6868;
  }

  .text_color_black {
    color: black;
  }

}

.table-fixed {
  table-layout: fixed;
}

.pl-2_5 {
  padding-left: 0.625rem;
  /* 10px */
}

.ml-2_5 {
  margin-left: 0.625rem;
  /* 10px */
}

.bw {
  justify-content: space-between;
}

.font_style {
  .text-xl3 {
    font-size: 50px;
    /* 30px */
    line-height: 46px;
    /* 36px */
  }

  .text-xl {
    font-size: 20px;
    /* 20px */
    line-height: 28px;
    /* 28px */
  }

  .font-semiblod {
    font-weight: 550;
  }

  .font-medium {
    font-weight: 500;
  }

  .text_base {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
  }

  .text_lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
  }

  .text_2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
  }

  .text_3xl {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
  }

  .text_color_blue {
    color: #2e90f1;
  }

  .text_color_green {
    color: #12c818;
  }

  .text_color_red {
    color: #ff6868;
  }

  .text_color_black {
    color: black;
  }
}
